In [9]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path
import seaborn as sns
import os 
import json
import requests

In [10]:
# Load the data
amazon_prime_data_csv = Path("../csv_folder/amazon_prime_data.csv")

# Load the data into a DataFrame
amazon_prime_df = pd.read_csv(amazon_prime_data_csv)

# Rename columns 
amazon_prime_df = amazon_prime_df.rename(columns={'title':'Title', 'type':'Type', 'genres':'Genres', 'releaseYear':'Release Year', 
                                    'imdbId':'IMDB ID', 'imdbAverageRating':'IMDB Average Rating', 
                                    'imdbNumVotes':'IMDB Votes', 'availableCountries':'Available Countries'})
amazon_prime_df

,Title,Type,Genres,Release Year,IMDB ID,IMDB Average Rating,IMDB Votes,Available Countries
0,Blondie,movie,"Comedy, Family",1938.0,tt0029927,6.9,891.0,ZA
1,Four Rooms,movie,Comedy,1995.0,tt0113101,6.7,113117.0,"AT, DE"
2,Judgment Night,movie,"Action, Crime, Drama",1993.0,tt0107286,6.6,19462.0,"AR, BO, BR, CL, CO, CR, EC, GT, HN, MX, PA, PE..."
3,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2338879.0,"AD, CU, FR, GB, GF, GG, GI, IE, IN, JP, MC, PF..."
4,Citizen Kane,movie,"Drama, Mystery",1941.0,tt0033467,8.3,476390.0,"AD, CA, ES, IN, JP"
...,...,...,...,...,...,...,...,...
69394,NaN,tv,NaN,NaN,NaN,NaN,NaN,JP
69395,NaN,tv,NaN,2021.0,NaN,NaN,NaN,"GB, GG"
69396,Mondo Yan,tv,Animation,2020.0,tt13457132,7.6,8.0,"AU, BM, BZ, CA, CM, GB, GG, GH, GI, GY, IE, KE..."
69397,The Naughty Adventures of Scarlett May Blossom,tv,Comedy,2024.0,tt33066407,6.1,30.0,"GB, GG, IE"
69398,NaN,tv,NaN,NaN,NaN,NaN,NaN,"CH, IT, SM, VA"

In [11]:
# Create a new DataFrame with the columns needed for the analysis. Drop columns. 
amazon_prime_df = amazon_prime_df[['Title', 'Type', 'Genres', 'Release Year', 'IMDB Average Rating', 'Available Countries']]

amazon_prime_df['Release Year'] = amazon_prime_df['Release Year'].astype(str)
amazon_prime_df['Release Year'] = amazon_prime_df['Release Year'].str.split('.').str[0]
amazon_prime_df

C:\Users\kaitl\AppData\Local\Temp\ipykernel_16600\2115751911.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon_prime_df['Release Year'] = amazon_prime_df['Release Year'].astype(str)
C:\Users\kaitl\AppData\Local\Temp\ipykernel_16600\2115751911.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon_prime_df['Release Year'] = amazon_prime_df['Release Year'].str.split('.').str[0]

,Title,Type,Genres,Release Year,IMDB Average Rating,Available Countries
0,Blondie,movie,"Comedy, Family",1938,6.9,ZA
1,Four Rooms,movie,Comedy,1995,6.7,"AT, DE"
2,Judgment Night,movie,"Action, Crime, Drama",1993,6.6,"AR, BO, BR, CL, CO, CR, EC, GT, HN, MX, PA, PE..."
3,Forrest Gump,movie,"Drama, Romance",1994,8.8,"AD, CU, FR, GB, GF, GG, GI, IE, IN, JP, MC, PF..."
4,Citizen Kane,movie,"Drama, Mystery",1941,8.3,"AD, CA, ES, IN, JP"
...,...,...,...,...,...,...
69394,NaN,tv,NaN,nan,NaN,JP
69395,NaN,tv,NaN,2021,NaN,"GB, GG"
69396,Mondo Yan,tv,Animation,2020,7.6,"AU, BM, BZ, CA, CM, GB, GG, GH, GI, GY, IE, KE..."
69397,The Naughty Adventures of Scarlett May Blossom,tv,Comedy,2024,6.1,"GB, GG, IE"
69398,NaN,tv,NaN,nan,NaN,"CH, IT, SM, VA"

In [12]:
# save as new csv file
amazon_prime_df.to_csv("../amazon_prime_data/amazon_prime_data_cleaned.csv", index=False)

In [13]:
# Check for NaN values
print("NaN count per column:")
print(amazon_prime_df.isnull().sum())

# Get rows with NaN
rows_with_nan = amazon_prime_df[amazon_prime_df.isnull().any(axis=1)]
print("\nRows with NaN values:")
print(rows_with_nan)

NaN count per column:
Title                  1672
Type                      0
Genres                 2080
Release Year              0
IMDB Average Rating    8639
Available Countries       0
dtype: int64

Rows with NaN values:
                                       Title   Type         Genres  \
1293                                  Rounds  movie          Short
3230                                   Turbo  movie    Documentary
3231                                Realtime  movie    Documentary
3812   Crusty Demons 14: A Bloodthirsty Saga  movie         Action
4270        The Wiggles: Live: Hot Potatoes!  movie  Music, Family
...                                      ...    ...            ...
69391                                    NaN     tv    Documentary
69392                         Inside Oranje.     tv    Documentary
69394                                    NaN     tv            NaN
69395                                    NaN     tv            NaN
69398                                    NaN     tv            NaN

      Release Year  IMDB Average Rating  \
1293          2007                  NaN
3230          2008                  NaN
3231          2007                  NaN
3812          2008                  NaN
4270          2005                  NaN
...            ...                  ...
69391         2025                  NaN
69392         2022                  NaN
69394          nan                  NaN
69395         2021                  NaN
69398          nan                  NaN

                                     Available Countries
1293                                                  NZ
3230   AO, BE, BF, BM, BZ, CD, CH, CI, CM, GF, GH, GI...
3231   AG, AO, AR, BB, BE, BF, BM, BO, BS, BZ, CD, CH...
3812                                                  US
4270                                              CA, US
...                                                  ...
69391  AD, AE, AU, BR, CA, CH, CL, DK, DO, DZ, GH, IN...
69392                                             BE, NL
69394                                                 JP
69395                                             GB, GG
69398                                     CH, IT, SM, VA

[8693 rows x 6 columns]

In [14]:
#netflix_df_cleaned = netflix_df.fillna("Unknown") 

#drop the nan values to clean data
amazon_prime_df_dropna = amazon_prime_df.dropna()
amazon_prime_df_dropna

,Title,Type,Genres,Release Year,IMDB Average Rating,Available Countries
0,Blondie,movie,"Comedy, Family",1938,6.9,ZA
1,Four Rooms,movie,Comedy,1995,6.7,"AT, DE"
2,Judgment Night,movie,"Action, Crime, Drama",1993,6.6,"AR, BO, BR, CL, CO, CR, EC, GT, HN, MX, PA, PE..."
3,Forrest Gump,movie,"Drama, Romance",1994,8.8,"AD, CU, FR, GB, GF, GG, GI, IE, IN, JP, MC, PF..."
4,Citizen Kane,movie,"Drama, Mystery",1941,8.3,"AD, CA, ES, IN, JP"
...,...,...,...,...,...,...
69374,Given: Uragawa no Sonzai,tv,"Animation, Music, Romance",2021,8.0,JP
69386,Amazon Music Live,tv,Music,2022,5.4,"AD, AE, AG, AL, AR, AT, AU, BA, BB, BE, BG, BH..."
69393,Hidden Inventory,tv,"Action, Adventure, Animation",2023,8.0,"GB, GG, GI, ID, IE, JP, MY, PH, SG, TH"
69396,Mondo Yan,tv,Animation,2020,7.6,"AU, BM, BZ, CA, CM, GB, GG, GH, GI, GY, IE, KE..."
69397,The Naughty Adventures of Scarlett May Blossom,tv,Comedy,2024,6.1,"GB, GG, IE"

In [15]:
amazon_prime_df_dropna = amazon_prime_df_dropna[['Title', 'Type', 'Genres', 'Release Year', 'IMDB Average Rating', 'Available Countries']]

amazon_prime_df_dropna['Release Year'] = amazon_prime_df_dropna['Release Year'].astype(str)
amazon_prime_df_dropna['Release Year'] = amazon_prime_df_dropna['Release Year'].str.split('.').str[0]

amazon_prime_df_dropna

,Title,Type,Genres,Release Year,IMDB Average Rating,Available Countries
0,Blondie,movie,"Comedy, Family",1938,6.9,ZA
1,Four Rooms,movie,Comedy,1995,6.7,"AT, DE"
2,Judgment Night,movie,"Action, Crime, Drama",1993,6.6,"AR, BO, BR, CL, CO, CR, EC, GT, HN, MX, PA, PE..."
3,Forrest Gump,movie,"Drama, Romance",1994,8.8,"AD, CU, FR, GB, GF, GG, GI, IE, IN, JP, MC, PF..."
4,Citizen Kane,movie,"Drama, Mystery",1941,8.3,"AD, CA, ES, IN, JP"
...,...,...,...,...,...,...
69374,Given: Uragawa no Sonzai,tv,"Animation, Music, Romance",2021,8.0,JP
69386,Amazon Music Live,tv,Music,2022,5.4,"AD, AE, AG, AL, AR, AT, AU, BA, BB, BE, BG, BH..."
69393,Hidden Inventory,tv,"Action, Adventure, Animation",2023,8.0,"GB, GG, GI, ID, IE, JP, MY, PH, SG, TH"
69396,Mondo Yan,tv,Animation,2020,7.6,"AU, BM, BZ, CA, CM, GB, GG, GH, GI, GY, IE, KE..."
69397,The Naughty Adventures of Scarlett May Blossom,tv,Comedy,2024,6.1,"GB, GG, IE"

In [16]:
# save as new csv file 
amazon_prime_df_dropna.to_csv("../amazon_prime_data/amazon_prime_data_cleaned_dropna.csv", index=False)